<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>
<div >

</div>

<div class="courses">
  @for (course of courses; track course.id;

  ) {

  <course-card
  [index]="$index"
  [class.is-first]="$first"
  [class.is-last]="$last"
  [class.is-even]="$even"
  [class.is-odd]="$odd"
  (courseSelected)="onCourseSelected($event)" [course]="course"/>
  }
  @empty {
    <h1>No Couses found !</h1>
  }
</div>


